h3{
    color: coral;
    background-color: black;
}
.heading1{
    font-size: 50px;
    color: blue;
    background-color: black;
}
.para1{
    color: red;
}
.heading_bg_color{
    color: black;
    background-color: aqua;
}
.heading_font_size{
    font-size: 100px;
}
.t_text_uppercase{
    text-transform: uppercase;
}
.t_text_lowercase{
    text-transform: lowercase;
}
.t_text_capitalize{
    text-transform: capitalize;
}
.t_decor_underline{
    text-decoration: underline;
}
.t_decor_overline{
    text-decoration: overline;
}
.t_decor_lineThrough{
    text-decoration: line-through;
}
.t_decor_all{
    text-decoration: underline overline line-through;
}
.t_align_r{
    text-align: right;
}
.t_align_l{
    text-align: left;
}
.t_align_c{
    text-align: center;
}
.t_shadow{
    font-size: 90px;
    color: blue;
    text-shadow: 5px 7px 5px gray;
}